@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom right, #000000, #111827, #000000);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}